<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Page not found</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
      .height {
        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 30px;
        height: 100%;
        min-height: 100vh;
        color: rgb(0, 0, 0);
      }
    </style>
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
          <ul class="main-header__item-list">
              <li class="main-header__item"><a href="/">Shop</a></li>
              <li class="main-header__item"><a href="/add-product">Add Product</a></li>
          </ul>
      </nav>
  </header>
    <div class="height">
      <h2>Page not found !!</h2>
    </div>
  </body>
</html>
